<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>GRAFOS</title>
<link rel="shortcut icon" href="img/favicon/favicon.png">
<link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css"/>

<link href="{{STATIC_URL}}font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

<body>
        
         <nav class="header_nav_left">

            <div class="container central"> 
                <div class="col-md-6">
                    <a href="">GRAFO BIPARTITOS</a> 
                </div>
                <!--form id="" action="#" method="post">
                    <div class="buscar">
                        <input id="" name="buscar" class="" type="text" placeholder="Buscar">
                    </div>
                </form> -->
                <ul class="memu">
                     <!-- <li><a href="/explorar">Explorar</a></li> -->          
                    <li><a href="/pruebas">Pruebas</a></li>              
                    <li><a href="#">Ayuda</a></li>
                     <span id="header_nav_right"> 
                        <span> <a class="icon_user"> <img class="img_user" src="/static/img/user.jpg"> </a></span>
                        <a href="">alzolarma</a>
                        <span> <i class="fa fa-cog fa-fw"></i></span>
                        <span> <i class="fa fa-cog fa-fw"></i></span>
                    </span>
                </ul>
            </div>  
        </nav> 
        
        <section id="info">
            <h2> App para ti y para todos.</h2>
            <div class="center">
                <div class="left">
                    <div class="iconos">  
                        <div> 
                            <span> <i class="fa fa-pencil-square-o fa-3x"></i></span>
                        </div>
                        <span> 
                            <h3> Crea tus grafos</h3>
                            <p>Puedes crear y manipular grafos de manera grafica es mucho mas comodo si eres principante. Si eres un experto puedes hacerlo por medio de conjuntos.</p>
                        </span>
                    </div>
                    <div class="iconos">  
                       <div> 
                            <span> <i class="fa fa-gavel fa-3x"></i></span>
                        </div>
                         <span> <h3> Experimenta con los grafos</h3>
                            <p> Puedes experimentar con los grafos, utilizando las opciones que tenemos para ti.</p>
                        </span>
                    </div>

                    <div class="iconos">  
                        <div> 
                            <span> <i class="fa fa-globe fa-3x"></i></span>
                        </div>
                        <span> <h3>Comparte con los demas.</h3>
                            <p>Comparte tus estudios y resultados con los demas y asi contribuyes con el intercambio de conocimientos.</p>
                    </span>
                    </div>
                </div>
                <div class="right">
                    <div class="iconos">  
                        <div> 
                            <span> <i class="fa fa-archive fa-3x"></i></span>
                        </div>
                        <span> <h3> Genera tus reportes</h3>
                        <p>Genera reportes en pdf de los resultados de tus pruebas, o guardalas en tu cuenta.</p>
                        </span>
                    </div>
                    <div class="iconos">  
                        <div> 
                            <span> <i class="fa fa-globe fa-3x"></i></span>
                        </div>
                        <span> <h3>Comparte con los demas.</h3>
                            <p>Comparte tus estudios y resultados con los demas y asi contribuyes con el intercambio de conocimientos.</p>
                    </span>
                    </div>

                    <div class="iconos">  
                        <div> 
                            <span> <i class="fa fa-globe fa-3x"></i></span>
                        </div>
                        <span> <h3>Comparte con los demas.</h3>
                            <p>Comparte tus estudios y resultados con los demas y asi contribuyes con el intercambio de conocimientos.</p>
                    </span>
                    </div>
                </div> 
                
            </div>
        </section>
        <footer>
            <hr>
            
        </footer>
        <script type="text/javascript" src="{{STATIC_URL}}js/validar.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.js"></script>
</body>
</html>