<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Search{% if results %} results {% endif %}</title>
</head>
<body>
  <h1>Search</h1>
  <form action="." method="post">
    <label for="q">Search: </label>
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="Search">
  </form>
  {% if results %} results.nodes {% endif %}
  l
  {% for n in results %}
     <li>{{ n.nodes}}</l1>
  {% endfor %}
    
  {% if query %}
    <h2>Results for "{{ query|escape }}":</h2>
    {% if results %}
      <ul>
      {% for n in results %}
        <li>{{ book|escape }}</l1>
      {% endfor %}
      </ul>
    {% else %}
      <p>No books found</p>
    {% endif %}
  {% endif %}
</body>
</html> 
